/* ==========================================================================
   INDEX DIRECTORY
   ========================================================================== */
/* ==========================================================================
   VARIABLES & BASE VALUES
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Wellfleet&family=Wendy+One&family=Raleway&display=swap");
/* ==========================================================================
   COLORS
   ========================================================================== */
.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-hover-primary-light-1:hover {
  color: rgb(70.5, 123.6, 239.7);
}

.text-primary-dark-1 {
  color: rgb(45, 98.1, 214.2);
}

.text-hover-primary-dark-1:hover {
  color: rgb(45, 98.1, 214.2);
}

.bg-primary-dark-1 {
  background-color: rgb(45, 98.1, 214.2);
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-hover-secondary-light-2:hover {
  color: rgb(71.8, 211, 159.8);
}

.text-secondary-dark-2 {
  color: rgb(20.8, 160, 108.8);
}

.text-hover-secondary-dark-2:hover {
  color: rgb(20.8, 160, 108.8);
}

.bg-secondary-dark-2 {
  background-color: rgb(20.8, 160, 108.8);
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-hover-error-light-3:hover {
  color: rgb(224.2, 103.8, 133.9);
}

.text-error-dark-3 {
  color: rgb(147.7, 27.3, 57.4);
}

.text-hover-error-dark-3:hover {
  color: rgb(147.7, 27.3, 57.4);
}

.bg-error-dark-3 {
  background-color: rgb(147.7, 27.3, 57.4);
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-hover-info-light-4:hover {
  color: rgb(249.6, 219, 118.8);
}

.text-info-dark-4 {
  color: rgb(147.6, 117, 16.8);
}

.text-hover-info-dark-4:hover {
  color: rgb(147.6, 117, 16.8);
}

.bg-info-dark-4 {
  background-color: rgb(147.6, 117, 16.8);
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-hover-blue-light-5:hover {
  color: rgb(140, 140, 242.5);
}

.text-blue-dark-5 {
  color: rgb(12.5, 12.5, 115);
}

.text-hover-blue-dark-5:hover {
  color: rgb(12.5, 12.5, 115);
}

.bg-blue-dark-5 {
  background-color: rgb(12.5, 12.5, 115);
}

.text-orange {
  color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-hover-purple-light-6:hover {
  color: rgb(214.2, 153, 255);
}

.text-purple-dark-6 {
  color: rgb(61.2, 0, 102);
}

.text-hover-purple-dark-6:hover {
  color: rgb(61.2, 0, 102);
}

.bg-purple-dark-6 {
  background-color: rgb(61.2, 0, 102);
}

.text-white {
  color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

/* ==========================================================================
   BASE STYLES & RESETS
   ========================================================================== */
/**
 * Dark mode preference
 */
@media screen and (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }
  hr {
    border-top-color: #444;
  }
}
/**
 * Base reset styles
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/**
 * Element-level resets
 */
ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 1rem 0;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, textarea, select {
  font: inherit;
}

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
/* ESTA ES LA FORMA DE INCLUIR LOS BREAKPOINTS EN EL CODIGO: 

  .container {
    @include bp.respond-to(xs) {
      font-size: 3rem;
      max-width: 100%;
    }

    @include bp.respond-to(md) {
      font-size: 2rem;
      max-width: 80%;
    }

    @include bp.respond-to(xl) {
      font-size: 2rem;
      max-width: 80%;
    }
  }
*/
/* ==========================================================================
   GRID SYSTEM & BREAKPOINTS
   ========================================================================== */
.container {
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
  box-sizing: border-box;
}
.container--centered {
  max-width: 1200px;
}

@media (min-width: 0) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}

.row {
  --grid-gap-x: 0;
  --grid-gap-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(var(--grid-gap-x) * -1);
  margin-top: calc(var(--grid-gap-y) * -1);
}
@supports (display: grid) {
  .row {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 12), 1fr);
    gap: var(--grid-gap-y) var(--grid-gap-x);
    margin-inline: 0;
    margin-top: 0;
  }
}
.row > * {
  box-sizing: border-box;
  padding-inline: var(--grid-gap-x);
  margin-top: var(--grid-gap-y);
}
@supports (display: grid) {
  .row > * {
    padding-inline: 0;
    margin-top: 0;
  }
}

.g-1 {
  --grid-gap-x: 0.5rem;
  --grid-gap-y: 0.5rem;
}

.g-4 {
  --grid-gap-x: 2rem;
  --grid-gap-y: 2rem;
}

[class*=col-] {
  --col-span: 12;
  flex: 0 0 calc(var(--col-span) / 12 * 100%);
  max-width: calc(var(--col-span) / 12 * 100%);
}
@supports (display: grid) {
  [class*=col-] {
    grid-column: span var(--col-span);
    flex: none;
    max-width: none;
  }
}
[class*=col-].col-hoverable:hover {
  transform: scale(1.02);
  z-index: 2;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .col-md-6 {
    --col-span: 6;
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    --col-span: 4;
  }
}

/* ==========================================================================
   INDEX DIRECTORY
   ========================================================================== */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #e2e2e2;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #326dee;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
.btn-primary:hover {
  background-color: rgb(73.5472972973, 125.7702702703, 239.9527027027);
}

.btn-complement-primary {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #326dee;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  color: light-comp(#326dee);
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: light-comp(#326dee);
}

.btn-secondary {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #1ac888;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
.btn-secondary:hover {
  background-color: rgb(28.9336283186, 222.5663716814, 151.3451327434);
}

.btn-error {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #d32752;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
.btn-error:hover {
  background-color: rgb(218.418, 57.082, 97.416);
}

.btn-info {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #f6c31c;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
.btn-info:hover {
  background-color: rgb(246.9724576271, 201.4830508475, 52.5275423729);
}

.btn-outlined-orange {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-outlined-purple {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
}

.btn-complement-purple {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #9900ff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  color: light-comp(#9900ff);
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: light-comp(#9900ff);
}

/* ==========================================================================
   INDEX DIRECTORY
   ========================================================================== */
.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.1875rem;
  background-color: #808080;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}
/* ==========================================================================
   INDEX DIRECTORY
   ========================================================================== */
.navbar .container, .navbar-primary .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #326dee;
}

/* ==========================================================================
   INDEX DIRECTORY
   ========================================================================== */
/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */
/**
 * Generate utility classes
 */

.p-1 {
  padding: 0.75rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.d-flex {
  display: flex;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}