@use './styles/fonts';
@use './styles/reset';
@use './styles/variables' as variables;

h1 {
  color: variables.$primary;
  margin-bottom: variables.$base-margin;
}

a {
  color: variables.$secondary;
}

button {
  color: white;
  border: 0;
  background: variables.$primary;
  border-radius: variables.$base-border-radius;
  padding: variables.$base-padding;
}

.error {
  color: variables.$error;
  border-color: variables.$error;
  margin: variables.$base-margin;
  padding: variables.$base-padding;
  border-radius: variables.$base-border-radius;
  border-width: variables.$base-border-thickness;
}

.notification {
  color: variables.$secondary;
  border-color: variables.$secondary;
  margin: variables.$base-margin;
  padding: variables.$base-padding;
  border-radius: variables.$base-border-radius;
  border-width: variables.$base-border-thickness;
}

.error,
.notification {
  border-style: solid;
}
