@use "sass:map";

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1800px // Extra breakpoint,
);

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' no existe en $breakpoints";
  }
}

.responsive-test {
  @include respond-to(xs) {
    color: red;
  }

  @include respond-to(sm) {
    color: yellow;
  }

  @include respond-to(md) {
    color: blue;
  }

  @include respond-to(lg) {
    color: green;
  }

  @include respond-to(xl) {
    color: purple;
  }

  @include respond-to(xxl) {
    color: orange;
  }

  @include respond-to(xxxl) {
    color: pink;
  }
}
