@use "sass:color";
@use "sass:map";

// theme-colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// colors palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "pink": #ffc0cb,
  "gray": #808080,
  "black": #000,
  "white": #fff,
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }

  // light variations
  @for $i from 1 through 9 {
    .text-#{$key}-light-#{$i} {
      color: color.mix(map.get($colors, "white"), $val, $i * 10%);
      // color: color.mix(white, $val, $i * 10%);
    }

    .bg-#{$key}-light-#{$i} {
      background-color: color.mix(map.get($colors, "white"), $val, $i * 10%);
      // color: color.mix(white, $val, $i * 10%);
    }
  }
  // dark variations
  @for $i from 1 through 9 {
    .text-#{$key}-dark-#{$i} {
      color: color.mix(map.get($colors, "black"), $val, $i * 10%);
      // color: color.mix(black, $val, $i * 10%);
    }
    .bg-#{$key}-dark-#{$i} {
      background-color: color.mix(map.get($colors, "black"), $val, $i * 10%);
      // color: color.mix(white, $val, $i * 10%);
    }
  }
}
