@use '../variables';
@use 'sass:math';
@use 'sass:map';

.card {
  display: block;
  padding: variables.$base-padding;
  border: variables.$base-border-thickness solid #ddd;
  box-shadow: variables.$base-box-shadow;
  border-radius: math.div(variables.$base-border-radius, 4);
  background-color: map.get(variables.$colors, "pink");

  .card-title {
    font-size: variables.$font-size-lg;
    padding-bottom: variables.$base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: variables.$base-font-size;

    a {
      text-decoration: underline;
    }
  }
}